<%- include('partials/header') -%>
<div class="container derp">
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-auto mt-5 caption">
      <p><%= post.caption %></p>
    </div>
    <div class="w-100 d-none d-md-block"></div>

      <a class="btn btn-primary col-6 mt-5" href="/profile/<%=post.user%>">poster profile</a>
  </div>
  <div class="row">
    <form
            class="col-12"
            action="/post/createComment/<%= post.id %>"  
            method="POST"
          >
          <input type="text" class="form-control" name="comment"> 
        <button class="col-1 btn btn-primary fa-solid fa-check" type="submit"></button>
            
          
      </form>
          <ul class="mt-3">
          
          <%for(let i = 0; i < comments.length; i++) {%>
            
            <li class="col col-auto offset-1 comments"><%=`${namesToComments[comments[i].userId]}: ${comments[i].comment}`%></li>
            <div class="w-100 d-none d-md-block"></div>
            
          <%}%>
        </ul>
    </div>
</div>



<%- include('partials/footer') -%>
